ServerTokens Prod

DocumentRoot "/var/www/main/html"

<Directory "/var/www/main/html">
    Options Includes ExecCGI FollowSymLinks
    AllowOverride All
    Order allow,deny
    Allow from all
</Directory>
